@font-face {
    font-family: 'Minecraft';
    src: url('Minecraft.ttf');
}

body {
  background-image: url("/assets/body_img.png") !important;
}

h1 {
  font-family: Minecraft;
  font-size: 10em;
}


#title {
    animation: color-change 5s infinite;
  }
  
  @keyframes color-change {
    0% { color: rgb(255, 255, 0); }
    50% { color: rgba(255, 0, 0, 0); }
    100% { color: rgb(255, 255, 0);}
  }
  #container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }
  #animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
  }

  
#title
{
  background-image: url("/assets/title_background.png");
  background-size: cover;
  font-family: Minecraft;
  min-height: 500px;
  font-size: 10em;
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.479) inset;
}
  
.col-sm-4 {
  text-align: center;
  color: rgb(255, 255, 0);
  font-family: Minecraft;
  height: 300px;
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.479) inset;
}

#playOptionButtons {
  text-align: center;
  color: rgb(255, 255, 0);
  margin: 5px;
  
}


#osrs_map {
    background-image: url("/assets/osrs_map.png");
    background-size: cover;
  }

#firecape {
    background-image: url("/assets/mining.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#questing {
  background-image: url("/assets/crandor.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  font-family: Minecraft;
  font-size: 2em;
  float: left;
  padding-left: 20px;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: rgb(255, 255, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}